.remark {
  margin-bottom: 75px;
  color: rgba(255, 255, 255, 0.7);
}

.header {
  color: rgba(255, 255, 255, 0.7);

  i {
    color: #fff;
  }
}

.form {
  .icon {
    width: 24px;
  }
}

.forgotPassword {
  margin-bottom: 50px;
  text-align: right;
  font-size: 12px;
  opacity: 0.3;

  a {
    color: #ffffff;
    text-decoration-line: none;
  }
}

.optionCont {
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 9;
  top: 35px;
  border: 1px solid;
  overflow: auto;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 12px 33px 0 rgba(0, 0, 0, 0.16);
  color: #999;

  .optionItem {
    width: 100%;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
  }
}

.privacyTips {
  position: absolute;
  top: 0;
  left: 40px;
}
