.wrapper {
  margin-bottom: 20px;
}
.container {
  display: table;
  width: 100%;
  position: relative;
}
.errorContainer {
  border-bottom-color: #ff0102;
}
.input {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.56);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: normal;
  height: 50px;
  padding: 0 36px 0 16px;
  border-radius: 4px;
  outline: none;
}
.append {
  display: none;
}
.prepend {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 40%;
  left: 90%;
  width: 40px;
}
.prepend img {
  width: 20px !important;
  display: block !important;
}
.error {
  margin-top: 5px;
  color: #ff2020;
  font-size: 11px;
}
.optionCont {
  position: absolute;
  width: 100%;
  max-height: 120px;
  z-index: 9;
  top: 49px;
  border: 1px solid;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 12px 33px 0 rgba(0, 0, 0, 0.16);
  color: #999;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  z-index: 10;
}
.optionCont .optionItem {
  width: 100%;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}
