.button {
    display: block;
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    text-decoration-line: none;
    background-color: #ff8400;
    user-select: none;
    cursor: pointer;
}
