.header {
    color: rgba(255, 255, 255, 0.7);

    i {
        color: #fff;
    }
}

.remark {
    margin-bottom: 75px;
    color: rgba(255, 255, 255, 0.7);
}

.form {
    .icon {
        width: 24px;
    }
}

.forgotPassword {
    margin-bottom: 50px;
    text-align: right;
    font-size: 12px;
    opacity: 0.3;

    a {
        color: #ffffff;
        text-decoration-line: none;
    }
}
