.wrapper {
    margin-bottom: 20px;
}

.container {
    display: table;
    width: 100%;
    border-bottom: 1px solid #ffffff;
}

.errorContainer {
    border-bottom-color: #ff0102;
}

.input {
    display: table-cell;
    width: 100%;
    padding: 8px 4px;
    border: none;
    color: #ffffff;
    background-color: transparent;
    outline: none;
}

.append {
    display: table-cell;
    width: 1%;
    text-align: center;
    vertical-align: middle;
}

.prepend {
    display: table-cell;
    width: 1%;
    text-align: center;
    vertical-align: middle;
}

.error {
    margin-top: 5px;
    color: #ff2020;
    font-size: 11px;
}
