@import '~reset-css/less/reset.less';

:global {
  * {
    box-sizing: border-box;
  }

  html {
    width: 100%;
    height: 100%;
  }

  body {
    display: table;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    color: #ffffff;
    background-color: #07183a;
  }

  #__next {
    display: table-cell;
    width: 100%;
    height: 100%;
  }

  a {
    text-decoration: none;
  }
}
