@import (reference) '~bootstrap/less/mixins.less';

.back-arrow {
    position: fixed;
    top: 16px;
    left: 16px;
    width: 32px;
    height: 32px;
    background: url('/static/icons/ic_arrow_back_white2.png') no-repeat center;
    background-size: 30px;
    cursor: pointer;
}

.logo {
    // top bar + top spacing
    margin-top: 16px;
    margin-bottom: 22px;
    text-align: center;

    &>img {
        width: 64px;
    }
}

.slogan {
    color: rgba(0, 0, 0, 0.56);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 20px;
    text-align: center;

    i {
        // color: #fff;
        color: rgba(0, 0, 0, 0.56);
    }

    &>.caption {}
}

.buttons {
    margin-top: 24px;

    .facebook {
        background: #3a5997;
        border-color: #3a5997;
        color: #fff;

        height: 48px;
        border-radius: 4px;
        margin: 8px 0 16px 0;

        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0px;
        line-height: 24px;
        text-align: center;
    }

    .google {
        background-color: #da4f33;
        border-color: #da4f33;
        color: #fff;

        height: 48px;
        border-radius: 4px;
        margin: 8px 0 16px 0;

        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0px;
        line-height: 24px;
        text-align: center;
    }

    .wechat {
        margin-bottom: 10px;
        background: #7bb32e url('/static/icons/wechat.png') no-repeat 16px 8px;
        background-size: 32px 32px;
    }

    .email {
        border: 1px solid #c19a53;
        margin-bottom: 10px;
        color: #c19a53;
        background-color: transparent;

        height: 48px;
        border-radius: 4px;
        margin: 8px 0 16px 0;
    }
}

.signIn {
    // Body2
    color: rgba(0, 0, 0, 0.56);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 20px;
    text-align: left;
    
    .clearfix();
    
    margin-top: 16px;
    width: 100%;

    &>a {
        width: unset;
        float: right;
        color: #c19a53;
        text-decoration-line: none;
    }
}
